* {
  box-sizing: border-box;
}

#copied-sticker {
  height: 5vmin;
  width: 5vmin;
  opacity: 45%;
}

.pasted {
  cursor: move;
}

#picker {
  background-color: #ccc;
  height: 17vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 5vh));
  grid-template-rows: repeat(auto-fit, minmax(min-content, 5vh));
  grid-gap: 0.5vmin;
  padding: 1vmin;
}

.trash-bin {
  position: relative;
}

.trash-bin > * {
  display: none;
}

.trash-bin::after {
  content: "\1F5D1";
  font-size: 4rem;
  position: absolute;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
}

.sticker {
  height: 5vh;
  width: 5vh;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 10px;
  cursor: grab;
  position: relative;
}

.sticker--skull:after {
  content: "\1F480";
  font-size: 2rem;
  padding: 0.1rem;
  position: absolute;
  top: -0.5vh;
}

.sticker--sparkles:after {
  content: "\2728";
  font-size: 2rem;
  padding: 0.1rem;
  position: absolute;
  top: -0.5vh;
}

.sticker--heart:after {
  content: "\1F5A4";
  font-size: 2rem;
  padding: 0.1rem;
  position: absolute;
  top: -0.5vh;
}

.sticker:active {
  cursor: grabbing;
}
